@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

h1{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
}

body{
  color: #1d3557;
  background-color: #cdb4db;
  font-family: "Merriweather", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 19px;
}

.container{
  background-color: #bde0fe;
  text-align: center;
  padding: 10px;
}

.card{
  border: 10px solid;
  padding: 30px;
  /* width: 50%; */
  margin: 0 auto;
}

.fakemon{
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.photo{
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
