@media(max-width: 992px) {
  .container {
    width: 700px;
  }
  .photo{
    width: 300px;
    /* max-height: 300px; */
  }
}

h1{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
}

body{
  text-align: center;
  color: #1d3557;
  background-color: #cdb4db;
  font-family: "Merriweather", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 19px;
  line-height: 1;
}

a{
  background-color: bisque;
  font-size: 20px;
}

.profile{
  border-radius: 50%;
}

.container{
  background-color: #bde0fe;
  text-align: center;
  padding: 10px;
}

/* .big_container{
  background-color: #bde0fe;
  text-align: center;
  padding: 10px;
} */

.card{
  border: 5px solid;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
}

.card:hover{
  size: 110%;
}

.fakemon{
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.photo{
  max-width: 700px;
  max-height: 700px;
  /* border-radius: 10px; */
  transition: 0.3s ease;
}

.photo:hover{
  max-width: 800px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
